@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #f8fafc;
  --muted: #6b7280;
}

.dark {
  --bg: #0b1220;
  --muted: #9ca3af;
}

html, body, #root {
  height: 100%;
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background-color: var(--bg);
  transition: background-color 0.4s ease, color 0.3s ease;
}

.container-max {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}


.card {
  @apply bg-white dark:bg-gray-800 rounded-2xl shadow-lg p-6;
}


